* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    height: 100%;
}

/* Navigation Bar */

.navbar__container {
    height: 100vh;
    width: 240px;
    position: fixed;
    border-right: 2.5px solid #444444;
}

.navbar__site-icon-container {
    padding-top: 20px;
    background: #1565c0;
}

.navbar__site-icon {
    height: 256px;
    padding: 24px;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 24px;
    list-style-type: none;
    width: 220px;
}

.navbar__item {
    min-height: 40px;
    align-items: center;
    display: flex;
    outline: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding-right: 8px;
    padding-left: 4px;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: space-between;
}

.navbar__item:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .12);
}

.navbar__link {
    margin: 0 24px;
    color: #444444;
    text-decoration: none;
}

.selected .navbar__link,
.selected .navbar__icon {
    color: #ffffff;
}

.navbar__item:hover .navbar__link,
.navbar__item:hover .navbar__icon {
    color: #ffffff;
}

.navbar__icon {
    margin-right: 16px;
    color: #444444;
    font-size: 20px;
}

/* Home */

.home__container {
    margin-left: 260px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 24px 24px 24px 0;
    gap: 24px;
}

.home__div-container {
    border: .01px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px;
}

.home__about-container {
    margin: 8px 8px 0 0;
    grid-column-end: 2;
}

.home__text {
    font-size: 16px;
}

.home__about-icon {
    margin: 8px;
    padding: 8px;
    height: 250px;
}

.home__source-link {
    height: 46px;
    width: 153px;
}

.home__source-icon {
    height: 25px;
    width: 25px;
}

/* Misc */

.enemy__container,
.stage__container,
.search-error__container {
    margin-left: 260px;
    padding-top: 30px;
}

.section__heading {
    margin: 16px 0;
    padding: 6px;
}

.hidden {
    display: none;
}

.shown {
    position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgba(51, 51, 51, .3);
	z-index: 100;
}

.selected {
    background-color: rgba(0, 0, 0, .33);
}

.search-bar,
.search-btn {
    padding: 6px 10px;
    margin-left: 16px;
    border: none;
    font-size: 17px;
}

.search-btn {
    background: #ddd;
}

.search-btn:hover {
    background: #ccc;
}

.close-btn {
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    color: #ff0000;
}

.close-btn:hover {
    color: #ff00009a;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ddd;
    color: #747474;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

/* Filter By */

.filter-by__btn {
    height: 30px;
    width: 30px;
}

.filter-by__btn {
    opacity: 12;
}

.filter-by__container {
    position: absolute;
	top: 50px;
	left: calc((100vw - 300px) / 2);
	box-sizing: border-box;
	width: 300px;
	padding: 15px;
	background: #ffffff;
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #000000;
}

.filter-by__inner-container {

}

.filter-by__heading {
    background: #ddd;
}

.filter-by__selection-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.filter-by__selection-btn:hover {
    background-color: #ddd;
}

/* Table */

.table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.table__heading {
    height: 50px;
    padding: 12px;
    font-weight: 700;
    border-color: #1565c0;
    border-bottom: 2px solid;
}

.table__cell {
    height: 100%;
    width: 100%;
    padding: 12px;
}

/* More Info */

.more-info__container {
    position: absolute;
	top: 50px;
	left: calc((100vw - 300px) / 2);
	box-sizing: border-box;
	width: 300px;
	padding: 15px;
	background: #ffffff;
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #000000;
}

.more-info__text {

}

.more-info__episode-showcase,
.more-info__enemy-showcase {
    
}

.more-info__stage-info,
.more-info__enemy-info {
    height: 50px;
    width: 50px;
    background: #ddd;
    cursor: pointer;
}

/* Pagination */

.pagination {
    align-items: center;
}

.page-btn {
    width: 30px;
    height: 30px;
}

.page-btn:hover {
    opacity: .12;
}

/* Footer */

.footer__container {
    margin-left: 238px;
    align-self: end;
    padding: 15px 15px 5px 15px;
    color: #ffffff;
    background: #1565c0;
    text-align: center;
}

.footer__heading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer__social-item {
    padding: 16px;
    font-size: 50px;
}

.footer__social-link {
    color: #ffffff;
}

.footer__link-item:hover {
    color: rgba(0, 0, 0, 0.5);
}
