* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    height: 100%;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr auto;
}

.page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, .75);
    z-index:100;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

.navbar__container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content__container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: start;
}

.footer__container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: end;
}

/* Navigation Bar */

.navbar__container {
    height: 100vh;
    width: 240px;
    position: fixed;
    border-right: 2.5px solid #444444;
}

.navbar__site-icon-container {
    padding: 1.5em 0;
    background: #1565c0;
}

.navbar__site-icon {
    width: 100%;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 2em;
    list-style-type: none;
}

.navbar__item {
    min-height: 40px;
    align-items: center;
    display: flex;
    outline: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 1.5em 0 2em;
    margin: 0 1em 2em;
    justify-content: space-between;
}

.navbar__item:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .12);
}

.navbar__link {
    color: #444444;
    text-decoration: none;
}

.selected .navbar__link,
.selected .navbar__icon {
    color: #ffffff;
}

.navbar__item:hover .navbar__link,
.navbar__item:hover .navbar__icon {
    color: #ffffff;
}

.navbar__icon {
    color: #444444;
    font-size: 1.2rem;
}

.navbar__dropdown-container {
    display: none;
}

/* Home */

.home__container {
    margin: 1.5em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5em;
}

.home__div-container {
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1em;
}

.home__about-container {
    grid-column-end: 2;
}

.home__text {
    font-size: 1rem;
}

.home__about-icon {
    height: 15em;
}

.home__source-container {
    margin: 0.5em auto 0;
    text-align: center;
}

.home__source-link {
    display: inline-block;
    margin: 0 1em;
}

.home__source-icon {
    height: 40px;
}

/* Misc */

.enemy__container,
.stage__container,
.more-info__container,
.enemy__header,
.stage__header,
.statistics__header,
.statistics__container {
    margin: 1.5em;
}

.enemy__header,
.stage__header {
    position: relative;
}

.section__heading {
    margin: 1em 0;
    padding-top: .5em;
}

.hidden {
    display: none;
}

.selected {
    background-color: rgba(0, 0, 0, .33);
}

/* Search */

.search-bar {
    position: relative;
    margin: 1em 0;
}

.search-bar input {
    display: inline-block;
    margin: 0;
    padding: 3px 3px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid #333333;
    border-radius: 4px 0 0 4px;
    vertical-align: middle;
}

.search-btn {
    display: inline-block;
    margin: 0;
    margin-left: -5px;
    height: 30px;
    padding: 6px;
    border: 1px solid #333333;
    border-radius: 0 4px 4px 0;
    background: #ddd;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
}

.search-btn:hover {
    background: #ccc;
}

.search-warning {
    position: absolute;
    top: 24px;
    left: 10px;
    padding: .8em;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: -5px 5px 8px 0px rgba(0,0,0,0.25);
}

.search-message {
    margin: .5em 0;
}

.search-message h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.search-message .error {
    color: #555555;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 4px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    color: #ff0000;
    text-align: center;
    vertical-align: middle;
    background: no-repeat center radial-gradient(#ffffff, #ffffff);
    background-size: 50% 50%;
    font-size: 1.5rem;
}

.close-btn:hover {
    color: #ff00009a;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #ddd;
    color: #747474;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

/* Filter By */

.filter-by__btn {
    display: inline-block;
    margin: 0;
    margin-left: .5em;
    height: 30px;
    padding: 6px;
    border: 1px solid #333333;
    border-radius: 4px;
    background: #ddd;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
}

.filter-by__btn:hover {
background: #ccc;
}

.filter-by__container {
    position: absolute;
	top: 81px;
	left: 280px;
	box-sizing: border-box;
	width: 300px;
	padding: 1em;
	background: #ddd;
	border: 1px solid #999999;
	border-radius: 10px;
    color: #000000;
    z-index:101;
}

.filter-by__inner-container {
    margin-bottom: 1em;
}

.filter-by__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 auto;
    text-align: center;
}

.filter-by__button-container button {
    width: 100%;
    padding: .3em .5em;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    background: #1565c0;
}

.filter-by__button-container .filter-by__reset {
    background: #f08080;
}

.filter-by__button-container button:hover {
    color: #ccc;
    border: 2px solid #ccc;
}

.filter-by__item {
    display: inline-block;
    padding-right: .2em;
}

.filter-by__heading {
    display: block;
    margin-bottom: .5em;
    font-size: 1.1rem;
}

.filter-by__select {
    display: block;
    margin: 0;
    padding: 3px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid #333333;
    border-radius: 4px;
}

.filter-by__selection-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.filter-by__selection-btn:hover {
    background-color: #ddd;
}

/* Table */

.table__enemy,
.table__stage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    padding-right: .5em;
    margin-bottom: 1em;
}

.table__stage {
    grid-template-columns: repeat(5, auto);
}

.table__heading {
    padding: .4em .6em;
    font-weight: 700;
    border-color: #1565c0;
    border-bottom: 2px solid;
    display: grid;
    align-items: center;
    justify-content: center;
}

.table__cell {
    height: 100%;
    width: 100%;
    padding: .4em .6em;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #383838;
    border-left: none;
    word-wrap: normal;
}

.table__portrait {
    height: 5em;
    width: 5em;
}

.table__last-cell {
    border-right: none;
}

/* More Info */

.more-info__stage {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em 1em;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    padding: 1em;
    margin-bottom: 1.5em;
}

.more-info__enemy-container {
    display: grid;
    grid-template-columns: 158px auto auto;
    gap: 2em;
    justify-items: start;
    justify-content: start;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    padding: 1em;
    margin-bottom: 1.5em;
}

.more-info__enemy {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em 1em;
}

.more-info__data {
    font-weight: 700;
}

.more-info__btn {
    color: #444444;
    font-size: 1.2rem;
}

.more-info__btn:hover {
    color: rgba(0, 0, 0, .33);
}

.more-info__table-enemy {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, auto);
    padding-right: 8px;
}

.more-info__table-stage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-right: 8px;
}

.more-info__inner-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5em;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    padding: 1em;
    margin-bottom: 1.5em;
}

.more-info__episode-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 200px));
    gap: 1.5em;
    width: 100%;
    margin-top: 1em;
}

.more-info__enemy-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
    gap: .5em;
    align-content: stretch;
    justify-content: center;
    align-items: start;
    justify-items: center;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    padding: 1em;
}

.more-info__enemy-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5em;
    width: 100%;
    margin-top: 1em;
}

.more-info__episode-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
    align-content: start;
    justify-content: start;
    align-items: start;
    justify-items: start;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: -8px 9px 5px -6px rgba(0,0,0,0.75);
    padding: 1em;
}

.more-info__stage-link {
    text-decoration: none;
    color: #333333;
}

.more-info__stage-link:hover {
    text-decoration: underline;
    color: #1565c0;
}

.more-info__text {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

.more-info__redirect-btn {
    display: inline-block;
    padding: .3em .5em;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    background: #1565c0;
    text-decoration: none;
}

.more-info__redirect-btn:hover {
    color: #ccc;
    border: 2px solid #ccc;
}

/* Pagination */

.pagination {
    width: max-content;
    max-width: 90%;
    margin: .5em auto;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.pagination ul li {
    display: flex;
    outline: none;
    position: relative;
    justify-content: space-between;
    margin: .5em 0;
}

.pagination ul li a {
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .3em;
    line-height: 1.2;
    color: #333;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.pagination ul .previous a, 
.pagination ul .next a {
    line-height: 1;
}

.pagination ul li a:hover {
    background-color: rgba(0, 0, 0, .05);
}

.pagination ul .disabled a:hover {
    background-color: #fff;
}

.pagination ul .active a,
.pagination ul .active a:hover {
    background: #ddd;
}

/* Statistics */

.pie-chart {
    width: 90%;
    max-width: calc(100% - 2em);
    max-height: 600px;
    margin: 1em;
}

.bar-chart {
    width: 90%;
    max-width: calc(100% - 2em);
    height: auto;
    margin: 1em;
}

/* Footer */

.footer__container {
    width: 100%;
    padding: 1em;
    color: #ffffff;
    background: #1565c0;
    text-align: center;
}

.footer__heading {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer__social-item {
    padding: 8px 15px 0;
    font-size: 3.6rem;
}

.footer__social-link {
    color: #ffffff;
}

.footer__link-item:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Media Queries (WIP) */

@media only screen and (max-width: 600px) {
    .navbar__container {
        top: 0;
        width: 100vw;
        height: 240px;
    }

    .navbar__list,
    .navbar__site-icon-container {
        display: none;
    }

    .navbar__site-icon {
        width: 10%;
        padding-top: 5px;
    }

    .navbar__dropdown-container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        background: #1565c0;
    }

    .navbar__dropdown-title {
        align-self: flex-start;
    }

    .navbar__dropdown-hover {
        align-self: flex-end;
        padding: 10px;
        color: #f1f1f1;
        cursor: pointer;
        font-size: 20px;
    }

    .navbar__dropdown-hover:hover {
        color: #444444;
    }

    .navbar__dropdown-menu {
        position: absolute;
        right: 0;
        top: calc(100% - 178px);
        min-width: 200px;
        background: #f1f1f1;
        color: #444444;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
    }

    .navbar__dropdown-container:hover .navbar__dropdown-item {
        display: block;
    }

    .navbar__dropdown-item {
        padding: 10px;
        text-decoration: none;
        border: none;
        border-top: solid 1px #e0e0e0;
    }

    .navbar__dropdown-item:hover {
        background: #444444;
        color: #f1f1f1;
    }
}
