<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7e899f220f.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}" type="text/css">
        <title>{{title}}</title>
    </head>
    <body>
        <div id="overlay" class="page-overlay hidden"></div>
        <nav class="navbar__container">
            <div class="navbar__site-icon-container">
                <a href="{{url_for('home_page')}}">
                    <img src="../static/assets/images/icons/logo.png" alt="Site logo" class="navbar__site-icon">
                </a>
            </div>
            <h1 class="navbar__dropdown-title">Reunion Movement Index</h1>
            <div class="navbar__dropdown-icon"><i class="fas fa-bars" id="open-dropdown"></i></div>
            <div class="navbar__list hidden-mobile" id="dropdown-menu">
                <a href="{{url_for('home_page')}}" class="navbar__item {{selected_home}}">
                    <span class="navbar__link">Home</span>
                    <i class="fas fa-home navbar__icon"></i>
                </a>
                <a href="{{url_for('enemy_index')}}" class="navbar__item {{selected_enemy}}">
                    <span class="navbar__link">Enemy Index</span>
                    <i class="fas fa-address-book navbar__icon"></i>
                </a>
                <a href="{{url_for('stage_index')}}" class="navbar__item {{selected_stage}}">
                    <span class="navbar__link">Stage Index</span>
                    <i class="fas fa-box navbar__icon"></i>
                </a>
                <a href="{{url_for('statistics')}}" class="navbar__item {{selected_statistics}}">
                    <span class="navbar__link">Statistics</span>
                    <i class="fas fa-chart-pie navbar__icon"></i>
                </a>
            </div>
        </nav>
        <div class="page">
            <div class="content__container">
                {% block content %}
                {% endblock %}
            </div>
            <div id="backToTop" class="backToTop">
                <i class="fas fa-chevron-up back-to-top-chevron" id="back-to-top-chevron"></i>
            </div>
            <footer class="footer__container">
                <h4 class="footer__heading">
                    Keep in touch
                </h4>
                <div class="footer__social-links">
                    <a href="https://github.com/Zylashro" target="_blank" rel="noopener noreferrer" class="footer__social-link">
                        <i class="fab fa-github-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/dominik-jug-3aa2971a0/" target="_blank" rel="noopener noreferrer" class="footer__social-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='src/base.js')}}"></script>
    </body>
</html>
