<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7e899f220f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}" type="text/css">
        <title>Title of Project</title>
    </head>
    <body>
        <nav class="navbar__container">
            <div class="navbar__site-icon-container">
                <a href="{{url_for('home_page')}}">
                    <img src="../static/assets/images/icons/logo.png" alt="Site logo" class="navbar__site-icon">
                </a>
            </div>
            <ul class="navbar__list">
                <li class="navbar__item {{selected_home}}">
                    <a href="{{url_for('home_page')}}" class="navbar__link">
                        Home
                    </a>
                    <i class="fas fa-home navbar__icon"></i>
                </li>
                <li class="navbar__item {{selected_enemy}}">
                    <a href="{{url_for('enemy_index')}}" class="navbar__link">
                        Enemy Index
                    </a>
                    <i class="fas fa-address-book navbar__icon"></i>
                </li>
                <li class="navbar__item {{selected_stage}}">
                    <a href="{{url_for('stage_index')}}" class="navbar__link">
                        Stage Index
                    </a>
                    <i class="fas fa-box navbar__icon"></i>
                </li>
                <li class="navbar__item {{selected_stat}}">
                    <a href="#" class="navbar__link">
                        Statistics
                    </a>
                    <i class="fas fa-chart-pie navbar__icon"></i>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="footer__container">
            <div class="footer__social">
                <h4 class="footer__heading">
                    Keep in touch
                </h4>
                <ul class="footer__social-links">
                    <li class="footer__social-item">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="footer__social-link">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="footer_social-link">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <script type="text/javascript" src="{{url_for('static', filename='src/hideAndShow.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='src/checkOnlyOne.js')}}"></script>
    </body>
</html>
