{% extends 'base.html' %}
{% block content %}
    <section class="enemy__header">
        <h1 class="section__heading">Enemy Index</h1>
        <form method="get" name="enemyForm">
            <!-- Search input -->
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit" id="search-submit" class="search-btn"><i class="fa fa-search"></i></button>
                <button type="button" id="open-filter-btn" class="filter-by__btn"><i class="fas fa-filter"></i></button>
                <a href="{{url_for('enemy_index')}}" class="filter-by__btn">Reset</a>
                <div id="warning" class="search-warning hidden">You need to write at least 2 characters in order to search.</div>
            </div>
            <!-- Filter menu -->
            <div id="filter-menu" class="filter-by__container hidden">
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by attack type:
                    </h2>
                    {% for item in radio.attackType %}
                        <div class="filter-by__item">
                            <input type="radio" name="attack-type" id="{{item}}" value="{{item}}" class="filter-by__selection-btn" {% if attack == item %}checked{% endif %}>
                            <label for="{{item}}">{{item|title}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by enemy level:
                    </h2>
                    {% for item in radio.levelType %}
                        <div class="filter-by__item">
                            <input type="radio" name="level-type" id="{{item}}" value="{{item}}" class="filter-by__selection-btn" {% if level == item %}checked{% endif %}>
                            <label for="{{item}}">{{item|title}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter-by__button-container">
                    <button type="button" class="filter-by__reset" id="reset-filter">Clear</button>
                    <button type="submit">Submit</button>
                </div>
                <div id="close-filter-btn" class="close-btn">
                    <i class="fas fa-window-close"></i>
                </div>
            </div>
        </form>
    </section>
    <section class="enemy__container">
        <div class="search-message">
            {% if search %}
                <h3>Search results for: "{{search}}"</h3>
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- Table of index -->
        <div class="table__enemy">
            <div class="table__heading"></div>
            <div class="table__heading only-mobile">
                Name (Code)
            </div>
            <div class="table__heading only-mobile">
                Type<br>
                Level
            </div>
            <div class="table__heading only-desktop">
                Code
            </div>
            <div class="table__heading only-desktop">
                Name
            </div>
            <div class="table__heading only-desktop">
                Type
            </div>
            <div class="table__heading only-desktop">
                Level
            </div>
            <div class="table__heading only-desktop">
                Endurance
            </div>
            <div class="table__heading only-desktop">
                Strength
            </div>
            <div class="table__heading only-desktop">
                Defense
            </div>
            <div class="table__heading only-desktop">
                Resist
            </div>
            <div class="table__heading"></div>
            {% for enemy in enemyIndexMDB %}
                <div class="table__cell cell-portrait">
                    <a href="{{url_for('more_info_enemy', enemy_code=enemy._id)}}">
                        <img src="{{enemy.portrait}}" class="table__portrait" alt="Portrait of enemy.">
                    </a>
                </div>
                <div class="table__cell only-mobile">
                    {{enemy.name|title}}
                    ({{enemy.enemy_code|upper}})
                </div>
                <div class="table__cell only-mobile">
                    {{enemy.attack_type|title}}
                    <br>
                    {{enemy.level|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.enemy_code|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.name|title}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.attack_type|title}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.level|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.endurance|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.attack|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.defense|upper}}
                </div>
                <div class="table__cell only-desktop">
                    {{enemy.resist|upper}}
                </div>
                <div class="table__cell table__last-cell">
                    <a href="{{url_for('more_info_enemy', enemy_code=enemy._id)}}">
                        <i class="fas fa-info-circle more-info__btn"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        {{ pagination.links }}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='src/enemy.js')}}"></script>
{% endblock %}
