{% extends 'base.html' %}
{% block content %}
    <section class="enemy__header">
        <h2 class="section__heading">Enemy List</h2>
        <form id="enemy-form" name="enemy-form" method="get">
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search..." value="{{search}}" id="search-name">
                <button type="submit" id="search-name-submit" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <button type="button" id="open-filter-btn" class="filter-by__btn">
                <i class="fas fa-filter"></i>
            </button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Will have a JS function when clicked will remove dive hidden css style and
                will display a little filter menu. -->
            <!-- At dive moment, filter selection will be done through buttons. Will look
                into turning it into a multiple selection menu with a submit button. -->
            <div id="filter-menu" class="filter-by__container hidden">
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by attack type:
                    </h2>
                    <input type="radio" name="attack-type" value="melee" class="filter-by__selection-btn" {% if attack == "melee" %}checked{% endif %}>
                        Melee
                    </input>
                    <input type="radio" name="attack-type" value="ranged" class="filter-by__selection-btn" {% if attack == "ranged" %}checked{% endif %}>
                        Ranged
                    </input>
                    <input type="radio" name="attack-type" value="arts" class="filter-by__selection-btn" {% if attack == "arts" %}checked{% endif %}>
                        Arts
                    </input>
                    <input type="radio" name="attack-type" value="melee / ranged" class="filter-by__selection-btn" {% if attack == "melee / ranged" %}checked{% endif %}>
                        Melee / Ranged
                    </input>
                    <input type="radio" name="attack-type" value="melee / arts" class="filter-by__selection-btn" {% if attack == "melee / arts" %}checked{% endif %}>
                        Melee / Arts
                    </input>
                    <input type="radio" name="attack-type" value="ranged / arts" class="filter-by__selection-btn" {% if attack == "ranged / arts" %}checked{% endif %}>
                        Ranged / Arts
                    </input>
                    <input type="radio" name="attack-type" value="none" class="filter-by__selection-btn" {% if attack == "none" %}checked{% endif %}>
                        None
                    </input>
                </div>
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by enemy level:
                    </h2>
                    <input type="radio" name="level-type" value="normal" class="filter-by__selection-btn" {% if level == "normal" %}checked{% endif %}>
                        Normal
                    </input>
                    <input type="radio" name="level-type" value="elite" class="filter-by__selection-btn" {% if level == "elite" %}checked{% endif %}>
                        Elite
                    </input>
                    <input type="radio" name="level-type" value="boss" class="filter-by__selection-btn" {% if level == "boss" %}checked{% endif %}>
                        Boss
                    </input>
                </div>
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by episode:
                    </h2>
                    <!-- Will add all episodes at a later date. -->
                    <button class="filter-by__selection-btn">
                        Episode Name
                    </button>
                </div>
                <button type="button" class="filter-by__clear" id="clear-filter">Clear</button>
                <button type="submit">Submit</button>
                <div id="close-filter-btn" class="close-btn">
                    <i class="fas fa-window-close"></i>
                </div>
            </div>
        </form>
    </section>
    <section class="enemy__container">
        <div class="table">
            <div class="table__heading"></div>
            <div class="table__heading">
                Enemy Code
            </div>
            <div class="table__heading">
                Name
            </div>
            <div class="table__heading">
                Type
            </div>
            <div class="table__heading">
                Level
            </div>
            <div class="table__heading">
                Endurance
            </div>
            <div class="table__heading">
                Strength
            </div>
            <div class="table__heading">
                Defense
            </div>
            <div class="table__heading">
                Resist
            </div>
            <div class="table__heading"></div>
            {% for enemy in enemyIndexMDB %}
                <div class="table__cell">
                    <img src="{{enemy.portrait}}" class="table__portrait" alt="Portrait of enemy.">
                </div>
                <div class="table__cell">
                    {{enemy.enemy_code|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.name|title}}
                </div>
                <div class="table__cell">
                    {{enemy.attack_type|title}}
                </div>
                <div class="table__cell">
                    {{enemy.level|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.endurance|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.attack|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.defense|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.resist|upper}}
                </div>
                <div class="table__cell table__last-cell">
                    <a href="{{url_for('more_info_enemy', enemy_code=enemy._id)}}">
                        <i class="fas fa-info-circle more-info__btn"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination__container">
            <div class="pagination__links">
                {{ pagination.links }}
            </div>
            <!-- <a href="#" class="page-btn" id="prev-btn">
                <i class="fas fa-backward"></i>
            </a>
            <span id="page">
            </span>
            <a href="#" class="page-btn" id="next-btn">
                <i class="fas fa-forward"></i>
            </a> -->
        </div>
        <div id="backToTop">
            <i class="fas fa-chevron-circle-up"></i>
        </div>
    </section>
{% endblock %}
