{% extends 'base.html' %}
{% block content %}
    <section class="enemy__header">
        <h1 class="section__heading">Enemy List</h1>
        <form method="get" name="enemyForm">
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit" id="search-submit" class="search-btn"><i class="fa fa-search"></i></button>
                <button type="button" id="open-filter-btn" class="filter-by__btn">
                    <i class="fas fa-filter"></i>
                </button>
                <div id="warning" class="hidden">You need to write at least 2 chars in search</div>
            </div>
            <div id="filter-menu" class="filter-by__container hidden">
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by attack type:
                    </h2>
                    {% for item in radio.attackType %}
                        <div class="filter-by__item">
                            <input type="radio" name="attack-type" id="{{item}}" value="{{item}}" class="filter-by__selection-btn" {% if attack == item %}checked{% endif %}>
                            <label for="{{item}}">{{item|title}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter-by__inner-container">
                    <h2 class="filter-by__heading">
                        Filter by enemy level:
                    </h2>
                    {% for item in radio.levelType %}
                        <div class="filter-by__item">
                            <input type="radio" name="level-type" id="{{item}}" value="{{item}}" class="filter-by__selection-btn" {% if level == item %}checked{% endif %}>
                            <label for="{{item}}">{{item|title}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter-by__button-container">
                    <button type="button" class="filter-by__reset" id="reset-filter">Reset</button>
                    <button type="submit">Submit</button>
                </div>
                <div id="close-filter-btn" class="close-btn">
                    <i class="fas fa-window-close"></i>
                </div>
            </div>
        </form>
    </section>
    <section class="enemy__container">
        <div class="search-message">
            {% if search %}
                <h3>Search results for: "{{search}}"</h3>
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="table__enemy">
            <div class="table__heading"></div>
            <div class="table__heading">
                Enemy Code
            </div>
            <div class="table__heading">
                Name
            </div>
            <div class="table__heading">
                Type
            </div>
            <div class="table__heading">
                Level
            </div>
            <div class="table__heading">
                Endurance
            </div>
            <div class="table__heading">
                Strength
            </div>
            <div class="table__heading">
                Defense
            </div>
            <div class="table__heading">
                Resist
            </div>
            <div class="table__heading"></div>
            {% for enemy in enemyIndexMDB %}
                <div class="table__cell">
                    <img src="{{enemy.portrait}}" class="table__portrait" alt="Portrait of enemy.">
                </div>
                <div class="table__cell">
                    {{enemy.enemy_code|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.name|title}}
                </div>
                <div class="table__cell">
                    {{enemy.attack_type|title}}
                </div>
                <div class="table__cell">
                    {{enemy.level|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.endurance|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.attack|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.defense|upper}}
                </div>
                <div class="table__cell">
                    {{enemy.resist|upper}}
                </div>
                <div class="table__cell table__last-cell">
                    <a href="{{url_for('more_info_enemy', enemy_code=enemy._id)}}">
                        <i class="fas fa-info-circle more-info__btn"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        {{ pagination.links }}
        <div id="backToTop">
            <i class="fas fa-chevron-circle-up"></i>
        </div>
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='src/enemy.js')}}"></script>
{% endblock %}
