{% extends 'base.html' %}
{% block content %}
    <nav class="navbar__container">
        <div class="navbar__site-icon-container">
            <a href="{{url_for('home_page')}}">
                <img src="../static/assets/images/icons/logo.png" alt="Site logo" class="navbar__site-icon">
            </a>
        </div>
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="{{url_for('home_page')}}" class="navbar__link">
                    Home
                </a>
                <i class="fas fa-home navbar__icon"></i>
            </li>
            <li class="navbar__item selected">
                <a href="{{url_for('enemy_index')}}" class="navbar__link">
                    Enemy Index
                </a>
                <i class="fas fa-address-book navbar__icon"></i>
            </li>
            <li class="navbar__item">
                <a href="{{url_for('stage_index')}}" class="navbar__link">
                    Stage Index
                </a>
                <i class="fas fa-box navbar__icon"></i>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    Statistics
                </a>
                <i class="fas fa-chart-pie navbar__icon"></i>
            </li>
        </ul>
    </nav>
    <section class="enemy__container">
        <h2 class="section__heading">Enemy List</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <button class="filter-by__btn">
            <i class="fas fa-filter"></i>
        </button>
        <!-- Will have a JS function when clicked will remove dive hidden css style and
            will display a little filter menu. -->
        <!-- At dive moment, filter selection will be done divrough buttons. Will look
            into turning it into a multiple selection menu widiv a submit button. -->
        <div class="filter-by__container hidden">
            <button class="filter-by__selection-btn selected">
                Show all
            </button>
            <div class="filter-by__inner-container">
                <h2 class="filter-by__heading">
                    Filter by attack type:
                </h2>
                <button class="filter-by__selection-btn">
                    Melee
                </button>
                <button class="filter-by__selection-btn">
                    Ranged
                </button>
                <button class="filter-by__selection-btn">
                    Arts
                </button>
                <button class="filter-by__selection-btn">
                    Melee / Ranged
                </button>
                <button class="filter-by__selection-btn">
                    Melee / Arts
                </button>
                <button class="filter-by__selection-btn">
                    Ranged / Arts
                </button>
            </div>
            <div class="filter-by__inner-container">
                <h2 class="filter-by__heading">
                    Filter by enemy level:
                </h2>
                <button class="filter-by__selection-btn">
                    Normal
                </button>
                <button class="filter-by__selection-btn">
                    Elite
                </button>
                <button class="filter-by__selection-btn">
                    Boss
                </button>
            </div>
            <div class="filter-by__inner-container">
                <h2 class="filter-by__heading">
                    Filter by episode:
                </h2>
                <!-- Will add all episodes at a later date. -->
                <button class="filter-by__selection-btn">
                    Episode Name
                </button>
            </div>
            <div class="close-btn">
                <i class="fas fa-window-close"></i>
            </div>
        </div>
        <div class="table">
            <div class="table__heading"></div>
            <div class="table__heading">
                Enemy Code
            </div>
            <div class="table__heading">
                Name
            </div>
            <div class="table__heading">
                Type
            </div>
            <div class="table__heading">
                Level
            </div>
            <div class="table__heading">
                Endurance
            </div>
            <div class="table__heading">
                Strength
            </div>
            <div class="table__heading">
                Defense
            </div>
            <div class="table__heading">
                Resist
            </div>
            <div class="table__heading"></div>
            {% for enemy in enemyIndexMDB %}
                <div class="table__cell">
                    <img src="{{enemy.portrait}}" alt="Portrait of enemy.">
                </div>
                <div class="table__cell">
                    {{enemy.enemy_code}}
                </div>
                <div class="table__cell">
                    {{enemy.name}}
                </div>
                <div class="table__cell">
                    {{enemy.attack_type}}
                </div>
                <div class="table__cell">
                    {{enemy.level}}
                </div>
                <div class="table__cell">
                    {{enemy.endurance}}
                </div>
                <div class="table__cell">
                    {{enemy.attack}}
                </div>
                <div class="table__cell">
                    {{enemy.defense}}
                </div>
                <div class="table__cell">
                    {{enemy.resist}}
                </div>
                <div class="table__cell">
                    <a href="{{url_for('more_info_enemy', enemy_code=enemy._id)}}" class="more-info__btn">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <a href="#" class="page-btn" id="prev-btn">
                <i class="fas fa-backward"></i>
            </a>
            <span id="page">
                <!-- Figure out how to update page number widiv Jinja -->
            </span>
            <a href="#" class="page-btn" id="next-btn">
                <i class="fas fa-forward"></i>
            </a>
        </div>
        <div id="backToTop">
            <i class="fas fa-chevron-circle-up"></i>
        </div>
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='src/hideAndShow.js')}}"></script>
{% endblock %}
