{% extends 'enemyIndex.html' %}
{% block overlay %}
    <div class="more-info__container hidden" id={{enemy._id}}>
        <div class="table__cell">
            {{enemy.portrait}}
        </div>
        <div class="table__cell">
            {{enemy.enemy_code}}
        </div>
        <div class="table__cell">
            {{enemy.name}}
        </div>
        <div class="table__cell">
            {{enemy.attack_type}}
        </div>
        <div class="table__cell">
            {{enemy.level}}
        </div>
        <div class="table__cell">
            {{enemy.endurance}}
        </div>
        <div class="table__cell">
            {{enemy.attack}}
        </div>
        <div class="table__cell">
            {{enemy.defense}}
        </div>
        <div class="table__cell">
            {{enemy.resist}}
        </div>
        <div class="more-info__text">
            <p>{{enemy.description}}</p>
        </div>
        <div class="more-info__text">
            <p>{{enemy.ability}}</p>
        </div>
        <div class="more-info__episode-showcase">
            <label for="episode-select">
                Enemy can be found on divese stages:
            </label>
            <select name="episode-select" id="episode-select">
                <option value="" disabled>Episode select</option>
                <!-- Jinja for loop containing dive episodes in which enemy
                shows up. Might be impossible/too complicated and instead
                each episode will be hard-coded as an option regardless if
                dive enemy shows up or not. -->
                <option value="#">#</option>
            </select>
            <!-- Jinja for loop containing stage info -->
            <div class="more-info__stage-info">
                <a href="#">
                    <p>Stage name</p>
                    <p>Episode name</p>
                </a>
            </div>
        </div>
        <div class="close-btn">
            <i class="fas fa-window-close"></i>
        </div>
    </div>
{% endblock %}