{% extends 'base.html' %}
{% block content %}
    <section class="home__container">
        <div class="home__div-container home__about-container">
            <h1 class="home__about-heading">Reunion Movement Index</h1>
            <p class="home__text">
                Welcome to the Reunion Movement Index!
            </p>
            <p class="home__text">
                A comprehensive index for every member of the enemy faction, Reunion Movement, from the mobile tower defense game, Arknights.
            </p>
            <p class="home__text">
                Made for people interested in knowing their enemy and what to expect from them.
            </p>
        </div>
        <img src="../static/assets/images/icons/logo.png" alt="Site logo" class="home__about-icon">
        <div class="home__div-container">
            <h2 class="home__div-heading">Goal</h2>
            <p class="home__text">
                The goal of this website is to gather all the data regarding Reunions members and display it in a simple and easy to navigate index.
            </p>
            <p class="home__text">
                Within the site not only will you be able to browse through the list of enemies, but also browse through the list of stages in which they appear along with some rather interesting statistics to go along with them.
            </p>
        </div>
        <div class="home__div-container">
            <h2 class="home__div-heading">Get It!</h2>
            <p class="home__text">
                All the stages and enemies on this site are from the mobile tower defense game, Arknights, developed by Hypergryph and Studio Montagne, and published by Yostar.
            </p>
            <p class="home__text">
                The game is available on both IOS and Android devices.
            </p>
            <div class="home__source-container">
                <a href="https://apps.apple.com/us/app/id1464872022?mt=8" target="_blank" rel="noopener noreferrer" class="home__source-link">
                    <img src="../static/assets/images/icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Apple Store banner" class="home__source-icon">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.YoStarEN.Arknights" target="_blank" rel="noopener noreferrer" class="home__source-link">
                    <img src="../static/assets/images/icons/googleplay.png" alt="GooglePlay banner" class="home__source-icon">
                </a>
            </div>
        </div>
    </section>
{% endblock %}
