{% extends 'base.html' %}
{% block content %}
    <section class="home__container">
        <div class="home__div-container home__about-container">
            <h1 class="home__about-heading">Title of project</h1>
            <p class="home__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corrupti cumque eaque aperiam! Ratione, consectetur eos alias hic nemo placeat?
            </p>
        </div>
        <img src="../static/assets/images/icons/logo.png" alt="Site logo" class="home__about-icon">
        <div class="home__div-container">
            <h2 class="home__div-heading">Goal</h2>
            <p class="home__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, distinctio odit qui voluptatem dignissimos ut.
            </p>
        </div>
        <div class="home__div-container">
            <h2 class="home__div-heading">Source / Get it</h2>
            <p class="home__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, animi.
            </p>
            <div class="home__source-container">
                <a href="#" target="_blank" rel="noopener noreferrer" class="home__source-link">
                    <img src="../static/assets/images/icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Apple Store banner" class="home__source-icon">
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="home__source-link">
                    <img src="../static/assets/images/icons/googleplay.png" alt="GooglePlay banner" class="home__source-icon">
                </a>
            </div>
        </div>
    </section>
{% endblock %}
