{% extends 'base.html' %}
{% block content %}
    <section class="more-info__container">
        <h2 class="section__heading">Enemy List</h2>
        <div class="more-info__table-enemy">
            <div class="table__heading"></div>
            <div class="table__heading">
                Enemy Code
            </div>
            <div class="table__heading">
                Name
            </div>
            <div class="table__heading">
                Type
            </div>
            <div class="table__heading">
                Level
            </div>
            <div class="table__heading">
                Endurance
            </div>
            <div class="table__heading">
                Strength
            </div>
            <div class="table__heading">
                Defense
            </div>
            <div class="table__heading">
                Resist
            </div>
            {% for specific_enemy in enemy %}
                <div class="table__cell">
                    <img src="{{specific_enemy.portrait}}" class="table__portrait" alt="Portrait of enemy.">
                </div>
                <div class="table__cell">
                    {{specific_enemy.enemy_code|upper}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.name|title}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.attack_type|title}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.level|upper}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.endurance|upper}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.attack|upper}}
                </div>
                <div class="table__cell">
                    {{specific_enemy.defense|upper}}
                </div>
                <div class="table__cell table__last-cell">
                    {{specific_enemy.resist|upper}}
                </div>
                <div class="more-info__inner-container">
                    <div class="inner-inner">
                        <div class="more-info__text">
                            <p>{{specific_enemy.description}}</p>
                        </div>
                        <div class="more-info__text">
                            <p>{{specific_enemy.ability}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="more-info__episode-showcase">
            <label for="episode-select">
                Enemy can be found on these stages:
            </label>
            <select name="episode-select" id="episode-select">
                <option selected="selected" disabled>Episode select...</option>
                <!-- Jinja for loop containing dive episodes in which enemy
                shows up. Might be impossible/too complicated and instead
                each episode will be hard-coded as an option regardless if
                dive enemy shows up or not. -->
                <option value="#">#</option>
            </select>
            <!-- Jinja for loop containing stage info -->
            <div class="more-info__stage-info">
                <a href="#">
                    <p>Stage name</p>
                    <p>Episode name</p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
