{% extends 'base.html' %}
{% block content %}
    <section class="stage__header">
        {{query}}
        <h2 class="section__heading">Stage List</h2>
        <form method="get" name="stageForm">
            <div class="search-bar">
                <input type="text" name="search" placeholder="Search..." value="{{search}}">
                <button type="submit" id="search-name-submit" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Will have a JS function when clicked will remove dive hidden css style and
                will display a little filter menu. -->
            <!-- At dive moment, filter selection will be done through buttons. Will look
                into turning it into a multiple selection menu with a submit button. -->
            
            <div class="filter-by__inner-container">
                <label for="episode" class="filter-by__heading">
                    Filter by episode:
                </label>
                <select name="episode" id="episode">
                    <option disabled selected="selected">
                        Select...
                    </option>
                    {% for item in episodes %}
                        <option value="{{item.id}}" {% if episode == item.id %}selected{% endif %}>
                            {{item.name|title}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="filter-by__clear" id="clear-filter-stage">Clear</button>
        </form>
    </section>
    <section class="stage__container">
        <div class="table__stage">
            <div class="table__heading">
                Stage Code
            </div>
            <div class="table__heading">
                Name
            </div>
            <div class="table__heading">
                Episode Name
            </div>
            <div class="table__heading">
                Total Enemies
            </div>
            <div class="table__heading"></div>
            {% for stage in stages %}
                <div class="table__cell">
                    {{stage.stage_code|upper}}
                </div>
                <div class="table__cell">
                    {{stage.name|title}}
                </div>
                <div class="table__cell">
                    {{episode_names[stage.episode]|title}}
                </div>
                <div class="table__cell">
                    {{stage.total_enemies}}
                </div>
                <div class="table__cell table__last-cell">
                    <a href="{{url_for('more_info_stage', stage_code=stage._id)}}">
                        <i class="fas fa-info-circle more-info__btn"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination__container">
            <div class="pagination__links">
                {{ pagination.links }}
            </div>
            <!-- <a href="#" class="page-btn" id="prev-btn">
                <i class="fas fa-backward"></i>
            </a>
            <span id="page">
            </span>
            <a href="#" class="page-btn" id="next-btn">
                <i class="fas fa-forward"></i>
            </a> -->
        </div>
        <div id="backToTop">
            <i class="fas fa-chevron-circle-up"></i>
        </div>
    </section>
    
    <script type="text/javascript" src="{{url_for('static', filename='src/stageJS.js')}}"></script>
{% endblock %}
