{% extends 'base.html' %}
{% block content %}
    {% set pie_attack_type_values = pie_data.pie_attack_type_values %}
    {% set pie_attack_type_labels = pie_data.pie_attack_type_labels %}
    {% set pie_level_type_values = pie_data.pie_level_type_values %}
    {% set pie_level_type_labels = pie_data.pie_level_type_labels %}
    <section class="statistics__container">
        <h2 class="section__heading">Statistics</h2>
        <div>
            <form method="get" name="typeForm">
                <label for="episode">Select Episode:</label>
                <select name="episode" id="episode">
                    <option value="" {% if selected == "" %}selected{% endif %}>
                        Show All
                    </option>
                    {% for item in episodes %}
                        <option value="{{item.id}}" {% if selected == item.id %}selected{% endif %}>
                            {{item.name|title}}
                        </option>
                    {% endfor %}
                </select>
            </form>
            <h3>Average attack type:</h3>
            <canvas id="attackType" class="pie-chart"></canvas>
        </div>
        <div>
            <h3>Average level type:</h3>
            <canvas id="levelType" class="pie-chart"></canvas>
        </div>
        
        <script>
            var pie_colors = [ '#F7464A', '#46BFBD', '#FDB45C', '#FEDCBA', '#ABCDEF', '#DDDDDD', '#ABCABC' ];
            var pie_options = {
                legend: {
                    position: 'left'
                }
            };
            var ctx_attack_type = document.getElementById('attackType').getContext('2d');
            var chart_attack_type = new Chart(ctx_attack_type, {
                type: 'pie',
                data: {
                    labels: {{pie_attack_type_labels|safe}},
                    datasets: [{
                        label: 'Average attack type',
                        backgroundColor: pie_colors,
                        borderColor: pie_colors,
                        data: {{pie_attack_type_values|safe}}
                    }]
                },
                options: pie_options
            });

            var ctx_level_type = document.getElementById('levelType').getContext('2d');
            var chart_level_type = new Chart(ctx_level_type, {
                type: 'pie',
                data: {
                    labels: {{pie_level_type_labels|safe}},
                    datasets: [{
                        label: 'Average level type',
                        backgroundColor: pie_colors,
                        borderColor: pie_colors,
                        data: {{pie_level_type_values|safe}}
                    }]
                },
                options: pie_options
            });
        </script>
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='src/statsJS.js')}}"></script>
{% endblock %}
